# Standard Erlang excludesX
_build/
ebin/
!ebin/*.appup
.eunit/
.test/
.vscode/
*.beam
deps/
erl_crash.dump
index.tmp
prof/
tmp/
*.log
*.lock


# C library
*.so
*.dll
*.a
*.o

# Windows freeimage precompiled
!c_src/freeimage_win/x32/*.dll
!c_src/freeimage_win/x64/*.dll